body{
    margin:0;
    padding:0;
}

.container{
    padding:0;
}
.header{
    width:100%;
    background-color:white;
    display: flex;
    position: fixed;
    height: 60px;
    margin:0;
}
.inner h1{
    position:absolute;
    left:50%;
    font-size: 27px;
    line-height: 35px;

}

.inner{
    width:90%;
    height:100%;
    display: flex;
    margin:0 auto;
}

.header-menu1{
    margin-right: auto;
    line-height: 10px;
}

.header-menu2{
    margin-left: auto;
    line-height: 10px;
}

.inner ul{
    display: flex;
}

.inner li{
    list-style: none;
    display: inline-block;
    font-size: 12px;
    padding: 6px;
    text-decoration:none;
    height:50;
}

.inner a{
    text-decoration:none;
    color:black;
}

.inner a:hover{
    text-decoration: underline;
}



