.cart-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cart-menu-wrap .cart-left-menu {
  max-width: 70%;
  width: 100%;
  background: salmon;
}

.cart-menu-wrap .cart-left-menu .cart-list {
  padding: 0 10px;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-head #cart-head-left {
  width: 20%;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-head #cart-head-center {
  width: 60%;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-head #cart-head-right {
  width: 20%;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-head h4 {
  color: #5f5f5f;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid black;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item .img-wrap {
  max-width: 20%;
  width: 100%;
  background: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item .item-detail {
  width: 60%;
  background: aquamarine;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item .item-detail .ul-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item .item-detail .ul-one li {
  padding-right: 8px;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item .item-detail .size-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item .item-detail .size-wrap h4 {
  margin: 0;
  padding: 0;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item .item-detail .size-wrap select {
  display: block;
  height: 20px;
  margin: 0;
  padding: 0;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-item .item-price {
  width: 20%;
  background: skyblue;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-empty {
  width: 20%;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum {
  width: 80%;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum .cart-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum .cart-sum .right {
  position: absolute;
  right: 0;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum .cart-dely {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum .cart-dely .right {
  position: absolute;
  right: 0;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum .cart-tax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum .cart-tax .right {
  position: absolute;
  right: 0;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum .cart-sum-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-menu-wrap .cart-left-menu .cart-list .cart-list-footer .cart-list-footer-colum .cart-sum-sum .right {
  position: absolute;
  right: 0;
}

.cart-right-menu {
  max-width: 30%;
  width: 100%;
  background: sandybrown;
}

.cart-right-menu .cart-right-menu-content-wrap {
  padding: 20px 20px;
}

.cart-right-menu .cart-right-menu-content-wrap .cart-mailadless .cart-email {
  outline: none;
  width: 100%;
  height: 50px;
  border-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.cart-right-menu .cart-right-menu-content-wrap .cart-mailadless .cart-submit {
  width: 100%;
  height: 50px;
  border-style: none;
  color: antiquewhite;
  background: #000000;
  border-radius: 0;
  line-height: 20px;
  display: block;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=cartMenu.css.map */